[12:58, 21-12-2020] +31 6 31254065: <!doctype html>
<html>
<head>
	<title>WEBSITE DAPHNE SIEFFERS</title>
    
<!--Stylesheet link-->
<link rel="stylesheet" type="text/css" href="CSS/styles.css">

</head>
<body>
<div id="container">
    <div class="homeTitle">
        <h1>Individual REDO-Assignment PR4</h1>
    </div>
    
    <div class="assingment3">
        <h3>Created and Designed by: Daphne Sieffers</h3>
    </div>
    
    <div class="contentleft">
        <img alt="Borrelbox" src="images/LusciousBorrelbox.JPG" width="350px" height="500px">
    </div>
    
     <div class="contentright">
         <p>This is the first paragraph of this website. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>
    
        <p><a href="https://www.buas.nl/">Click here to visit the website of the Breda University of Applied sciences</a></p>
        </div> 
    </div>

	
</body>
</html>
[13:19, 21-12-2020] +31 6 31254065: @font-face {
	font-family: 'lancelot';
	src: url(../font/Lancelot/Lancelot-Regular.ttf) format('Truetype');
}
@font-face {
	font-family: 'cormantGaramond_regular';
	src: url('../font/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('Truetype');
}

body {
	background-color:black;

}

#container {
    position: relative;
    display: block;
    width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.contentleft {
    float:right;
}


h1 {
	font-family:inherit;
    color: azure;
	
}
h1 {
	font-size: 38pt;
	text-align: center;
    
}

h3 {
    font-family:'cormantGaramond_regular', serif;
	font-size: 15pt;
	text-align: center;
    margin-bottom: 50px;
    color:azure;
    
}

p{
   font-family:'cormantGaramond_regular', serif;
   font-size: 13pt;
   color:azure;
    
}

.link:hover {
    background-color: aqua;
    
}